Repository UNLV-CS472-672/2025-S-GROUP2-LessonConnect, pull requests merged in 2025-04, with the labels that each got.

#106 Abdulrahman 4th PR: Full Calendar Feature – Views, Tasks, Filters, and Auto-Schedule (MVP)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/Components/Calendar.jsx
  frontend/src/Styles/Calendar.css
Labels: Frontend, Backend

#89 3rd PR: Video call UI
  frontend/src/App.jsx
  frontend/src/Components/Chat.jsx
  frontend/src/Components/Services.jsx
  frontend/src/Components/VideoCall.jsx
  frontend/src/Styles/Chat.css
  frontend/src/Styles/VideoCall.css
Labels: Frontend

#121 Abdulrahman 5th PR: Full Messaging System – MVP with Chat, UI Interactions, and Data
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/Components/Chat.jsx
  frontend/src/Styles/Chat.css
Labels: Frontend, Backend, Messaging System

#122 Jose 5th PR: Tutor View
  frontend/public/assets/images/bell.png
  frontend/public/assets/images/mail.png
  frontend/public/assets/images/user.png
  frontend/src/App.jsx
  frontend/src/Components/TutorView.jsx
  frontend/src/Styles/TutorView.css
Labels: Frontend

#87 Added Pomodoro API Endpoints + CRUD
  backend/apps/pomodoro/managers.py
  backend/apps/pomodoro/migrations/0003_pomodorosession_is_paused.py
  backend/apps/pomodoro/models.py
  backend/apps/pomodoro/serializers.py
  backend/apps/pomodoro/urls.py
  backend/apps/pomodoro/views.py
  backend/backend/urls.py
Labels: Backend

#130 Jose 6th PR: Inbox Notification Page (Inbox Only)
  frontend/src/App.jsx
  frontend/src/Components/Inbox.jsx
  frontend/src/Styles/Inbox.css
Labels: Frontend

#143 6th PR: Added Profile Settings Page and connect TutorView and StudentView with Navbar
  frontend/public/assets/images/Allison.jpg
  frontend/public/assets/images/CJ.png
  frontend/public/assets/images/allison.png
  frontend/src/App.jsx
  frontend/src/Components/About.jsx
  frontend/src/Components/AssignmentPage.jsx
  frontend/src/Components/Resources.jsx
  frontend/src/Components/Settings.jsx
  frontend/src/Components/StudentLayout.jsx
  frontend/src/Components/StudentNavbar.jsx
  frontend/src/Components/StudentView.jsx
  frontend/src/Components/TutorView.jsx
  frontend/src/Styles/Settings.css
  frontend/src/Styles/StudentView.css
  frontend/src/Styles/TutorView.css
Labels: Frontend

#145 Abdulrahman 6th PR: Whiteboard Drawing Canvas + LessonConnect Landing Page (MVP)
  frontend/src/App.jsx
  frontend/src/Components/LandingPage.jsx
  frontend/src/Components/Services.jsx
  frontend/src/Components/StudentView.jsx
  frontend/src/Components/TutorView.jsx
  frontend/src/Components/WhiteboardCanvas.jsx
  frontend/src/Styles/LandingPage.css
  frontend/src/Styles/WhiteboardCanvas.css
Labels: Frontend, WhiteBoard MVP

#157 LessonConnect README – CI & Code Coverage
  README.md
Labels: enhancement

#155 Jose (8th PR): Assignment/Quiz Creation. Front-end only
  frontend/src/App.jsx
  frontend/src/Components/AssignmentCreate.jsx
  frontend/src/Components/Inbox.jsx
  frontend/src/Styles/AssignmentCreate.css
Labels: Frontend

#160 Abdulrahman 7th PR: **Whiteboard MVP – Tutor Interaction, Video & Chat Shell**
  frontend/src/Components/WhiteboardCanvas.jsx
  frontend/src/Styles/WhiteboardCanvas.css
Labels: Frontend, WhiteBoard MVP

#167 7th PR: Add Role-Based Questionnaire Flow Post-Login
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/Components/Questionnaire.jsx
  frontend/src/Components/StudentView.jsx
  frontend/src/Components/TutorView.jsx
  frontend/src/Styles/Questionnaire.css
  frontend/src/Styles/StudentView.css
Labels: Frontend

#169 8th PR: Implement Role Selection Flow + Signup & Homepage UI Enhancements
  frontend/public/assets/images/Calendar.png
  frontend/public/assets/images/Pic1.webp
  frontend/public/assets/images/Pic3.webp
  frontend/public/assets/images/Pic5.jpg
  frontend/public/assets/images/dashboard.png
  frontend/src/App.jsx
  frontend/src/Components/DateOfBirth.jsx
  frontend/src/Components/Header.jsx
  frontend/src/Components/Home.jsx
  frontend/src/Components/Learn_more.jsx
  frontend/src/Components/Login.jsx
  frontend/src/Components/RoleSelect.jsx
  frontend/src/Components/SignUp.jsx
  frontend/src/Styles/Home.css
  frontend/src/Styles/Login.css
  frontend/src/Styles/RoleSelect.css
  frontend/src/Styles/SignUp.css
  frontend/src/data/countries.json
Labels: Frontend

#138 PR 4: Add WebSocket-Based Real-Time Chat Using Django Channels
  backend/.coveragerc
  backend/apps/chat/consumers.py
  backend/apps/chat/jwt_middleware.py
  backend/apps/chat/migrations/0006_chat_name.py
  backend/apps/chat/models.py
  backend/apps/chat/routing.py
  backend/backend/asgi.py
  backend/backend/settings.py
  frontend/src/Components/Chat.jsx
Labels: Backend

#161 Add tests for profile models
  backend/apps/users/tests.py
  backend/apps/users/views.py
Labels: Backend

#174 Quick fixes
  backend/apps/users/migrations/0011_alter_studentprofile_emergency_contact_name_and_more.py
  backend/apps/users/migrations/0012_alter_tutorprofile_hourly_rate.py
  backend/apps/users/migrations/0013_alter_studentprofile_parent_profile.py
  backend/apps/users/models.py
  backend/apps/users/tests.py
  backend/apps/users/views.py
  backend/backend/settings.py
  backend/requirements.txt
Labels: bug, enhancement

#175 fixing tutor search issue (not a PR)
  backend/apps/search/views.py
  backend/apps/users/managers.py
Labels: bug, Backend

#170 PR 6: Add WebSocket and JWT Middleware Unit Tests for Chat Functionality
  .github/workflows/django_ci_cd.yml
  backend/apps/chat/consumers.py
  backend/apps/chat/test_consumers.py
  backend/apps/chat/test_jwt_middleware.py
  backend/apps/submissions/tests.py
  pytest.ini
Labels: Backend

#184 Ethan's 5th PR / Jose's 9th PR: (#182) Assignment & Quiz Backend Frontend Link
  backend/apps/lessons/tests.py
  backend/apps/lessons/urls.py
  backend/apps/lessons/views.py
  frontend/src/Components/AssignmentCreate.jsx
  frontend/src/Services/AssignmentServices.js
  frontend/src/Services/ChoiceServices.js
  frontend/src/Services/QuestionServices.js
  frontend/src/Services/QuizServices.js
  frontend/src/Services/SolutionServices.js
Labels: Frontend, Backend

#185 Added Achievement System For Gaming Stats API Endpoints
  backend/apps/achievements/__init__.py
  backend/apps/achievements/admin.py
  backend/apps/achievements/managers.py
  backend/apps/achievements/migrations/0001_initial.py
  backend/apps/achievements/migrations/0002_initial.py
  backend/apps/achievements/migrations/__init__.py
  backend/apps/achievements/models.py
  backend/apps/achievements/serializers.py
  backend/apps/achievements/urls.py
  backend/apps/achievements/views.py
  backend/backend/settings.py
  backend/backend/urls.py
Labels: Backend

#186 PR 6: (#98) Unscheduled Tasks Management for Calendar
  backend/apps/planner/admin.py
  backend/apps/planner/migrations/0003_unscheduledtask.py
  backend/apps/planner/models.py
  backend/apps/planner/serializers.py
  backend/apps/planner/tests.py
  backend/apps/planner/urls.py
  backend/apps/planner/views.py
Labels: enhancement, Backend, Calendar

#187 Added Achievement System for Gaming Stats Tests
  backend/apps/achievements/serializers.py
  backend/apps/achievements/tests.py
  backend/apps/achievements/urls.py
  backend/apps/achievements/views.py
  backend/backend/urls.py
Labels: Backend

#188 Periodic reminders
  backend/apps/notifications/tasks.py
  backend/apps/notifications/tests.py
  backend/apps/sessions/tests.py
  backend/apps/users/migrations/0011_profile_parent_of.py
  backend/apps/users/migrations/0014_merge_20250429_1741.py
  backend/apps/users/models.py
  backend/apps/users/serializers.py
  backend/apps/users/tests.py
  backend/backend/celery.py
  backend/backend/settings.py
Labels: enhancement, Backend
