Repository UNLV-CS472-672/2025-S-GROUP2-LessonConnect, pull requests merged in 2025-03, with the labels that each got.

#45 2nd PR: Front-End Code Optimization, UI Enhancements & Navigation Fixes
  frontend/src/App.jsx
  frontend/src/Components/About.jsx
  frontend/src/Components/Contact.jsx
  frontend/src/Components/DateOfBirth.jsx
  frontend/src/Components/FAQS.jsx
  frontend/src/Components/FindTutor.jsx
  frontend/src/Components/Footer.jsx
  frontend/src/Components/Header.jsx
  frontend/src/Components/Home.jsx
  frontend/src/Components/Learn_more.jsx
  frontend/src/Components/Login.jsx
  frontend/src/Components/Podomoro.jsx
  frontend/src/Components/Services.jsx
  frontend/src/Components/SignUp.jsx
  frontend/src/Components/Support.jsx
  frontend/src/Styles/Contact.css
  frontend/src/Styles/DateOfBirth.css
  frontend/src/Styles/FAQS.css
  frontend/src/Styles/FindTutor.css
  frontend/src/Styles/Home.css
  frontend/src/Styles/Login.css
  frontend/src/Styles/Pomodoro.css
  frontend/src/Styles/Services.css
  frontend/src/Styles/SignUp.css
  frontend/src/Styles/Support.css
  frontend/src/Styles/about.css
  frontend/src/Styles/learn_more.css
  frontend/src/main.jsx
Labels: Frontend

#44 PR 1: Implemented Upload Record Model, Views, Serializers, and Manager for File Uploads
  .gitignore
  backend/apps/uploads/admin.py
  backend/apps/uploads/managers.py
  backend/apps/uploads/migrations/0001_initial.py
  backend/apps/uploads/migrations/0002_uploadrecord_asset_id.py
  backend/apps/uploads/migrations/0003_alter_uploadrecord_description.py
  backend/apps/uploads/migrations/0004_remove_uploadrecord_profile_uploadrecord_user.py
  backend/apps/uploads/models.py
  backend/apps/uploads/serializers.py
  backend/apps/uploads/urls.py
  backend/apps/uploads/views.py
  backend/backend/settings.py
  backend/backend/urls.py
  backend/requirements.txt
Labels: Backend

#43 1st PR: Implement "Services" page
  frontend/public/assets/images/Services_header.jpg
  frontend/src/Components/Podomoro.jsx
  frontend/src/Components/Services.jsx
  frontend/src/Styles/Services.css
Labels: Frontend

#48 Jose 2nd PR: Support, Contact Us, and FAQ Pages Implementation (Customer Service)
  frontend/public/assets/images/FAQs.webp
  frontend/src/Components/Contact.jsx
  frontend/src/Components/FAQS.jsx
  frontend/src/Components/Services.jsx
  frontend/src/Components/Support.jsx
  frontend/src/Styles/Contact.css
  frontend/src/Styles/FAQS.css
  frontend/src/Styles/Support.css
Labels: Frontend

#53 Abdulrahman 2nd PR: LessonConnect Pomodoro
  frontend/public/assets/images/Pomodoro_pic.png
  frontend/src/Components/Home.jsx
  frontend/src/Components/Podomoro.jsx
  frontend/src/Styles/Home.css
  frontend/src/Styles/Pomodoro.css
Labels: Frontend

#62 Abdulrahman 3rd PR: Booking UI - Enhanced Layout & Calendar Integration
  .DS_Store
  frontend/package-lock.json
  frontend/package.json
  frontend/public/assets/images/CodingTutor.png
  frontend/src/App.jsx
  frontend/src/Components/Booking.jsx
  frontend/src/Components/Header.jsx
  frontend/src/Styles/Booking.css
Labels: Frontend

#64 3PR: Integrate 'Find a Tutor' Page with Layout, Hero Section, and Search Bar
  frontend/src/App.jsx
  frontend/src/Components/FilterDropdown.jsx
  frontend/src/Components/FindTutor.jsx
  frontend/src/Components/Footer.jsx
  frontend/src/Components/Header.jsx
  frontend/src/Styles/FindTutor.css
  frontend/src/Styles/Home.css
  frontend/src/Styles/Pomodoro.css
  frontend/src/Styles/booking.css
  frontend/src/Styles/filterDropdown.css
Labels: Frontend

#55 #16/#25 Bookings Model and API Endpoints + CRUD
  backend/apps/bookings/__init__.py
  backend/apps/bookings/admin.py
  backend/apps/bookings/apps.py
  backend/apps/bookings/managers.py
  backend/apps/bookings/migrations/0001_initial.py
  backend/apps/bookings/migrations/__init__.py
  backend/apps/bookings/models.py
  backend/apps/bookings/querysets.py
  backend/apps/bookings/serializers.py
  backend/apps/bookings/tests.py
  backend/apps/bookings/urls.py
  backend/apps/bookings/views.py
  backend/apps/notifications/migrations/0003_alter_notification_info_category_and_more.py
  backend/apps/scheduling/admin.py
  backend/apps/scheduling/migrations/__init__.py
  backend/apps/scheduling/models.py
  backend/apps/scheduling/views.py
  backend/apps/uploads/admin.py
  backend/apps/uploads/urls.py
  backend/apps/uploads/views.py
  backend/backend/settings.py
  backend/backend/urls.py
Labels: enhancement, Backend

#70 Jose 3rd PR: Basic Layout for the User-login Dashboard
  frontend/src/App.jsx
  frontend/src/Components/Schedule.jsx
  frontend/src/Styles/Schedule.css
Labels: Frontend

#68 PR 1: (#15) Implementing Lesson-related models
  backend/apps/lessons/admin.py
  backend/apps/lessons/migrations/0001_initial.py
  backend/apps/lessons/migrations/0002_assignment_student.py
  backend/apps/lessons/migrations/0003_question_points.py
  backend/apps/lessons/migrations/0004_alter_quiz_options_alter_assignment_assignment_type_and_more.py
  backend/apps/lessons/migrations/0005_alter_quiz_time_limit.py
  backend/apps/lessons/models.py
Labels: Backend

#59 PR 2: Implementing Basic Search Functionality
  backend/apps/notifications/migrations/0003_alter_notification_info_category_and_more.py
  backend/apps/search/__init__.py
  backend/apps/search/admin.py
  backend/apps/search/apps.py
  backend/apps/search/migrations/0001_initial.py
  backend/apps/search/migrations/0002_alter_subject_table.py
  backend/apps/search/migrations/__init__.py
  backend/apps/search/models.py
  backend/apps/search/serializers.py
  backend/apps/search/tests.py
  backend/apps/search/urls.py
  backend/apps/search/views.py
  backend/apps/users/admin.py
  backend/apps/users/apps.py
  backend/apps/users/managers.py
  backend/apps/users/migrations/0002_tutorprofile.py
  backend/apps/users/migrations/0003_remove_tutorprofile_location_tutorprofile_city_and_more.py
  backend/apps/users/migrations/0004_tutorprofile_state.py
  backend/apps/users/migrations/0005_remove_tutorprofile_zipcode.py
  backend/apps/users/migrations/0006_alter_tutorprofile_state.py
  backend/apps/users/migrations/0007_tutorprofile_subjects.py
  backend/apps/users/models.py
  backend/apps/users/serializers.py
  backend/apps/users/urls.py
  backend/apps/users/views.py
  backend/backend/settings.py
  backend/backend/urls.py
Labels: enhancement, Backend

#69 Added Models for Pomodoro Timer and Gamification
  backend/apps/pomodoro/admin.py
  backend/apps/pomodoro/migrations/0001_initial.py
  backend/apps/pomodoro/migrations/0002_alter_petcatalog_image.py
  backend/apps/pomodoro/models.py
  backend/requirements.txt
Labels: enhancement, Backend

#82 LessonConnect README with Architecture & Setup Instructions
  README.md
Labels: documentation

#60 #27 Websocket routing + API Endpoints + CRUD for Notifications
  backend/apps/notifications/admin.py
  backend/apps/notifications/consumer.py
  backend/apps/notifications/models.py
  backend/apps/notifications/routing.py
  backend/apps/notifications/serializers.py
  backend/apps/notifications/tasks.py
  backend/apps/notifications/templates/notification_page.html
  backend/apps/notifications/urls.py
  backend/apps/notifications/utils.py
  backend/apps/notifications/views.py
  backend/backend/asgi.py
  backend/backend/settings.py
  backend/backend/urls.py
Labels: enhancement, Backend

#72 #45 Booking Expiry Logic and Reviews Model
  backend/apps/bookings/admin.py
  backend/apps/bookings/migrations/0002_booking_session_end_time_and_more.py
  backend/apps/bookings/migrations/0003_rename_booking_bookings_reviews.py
  backend/apps/bookings/migrations/0004_rename_bookings_booking_rename_reviews_review.py
  backend/apps/bookings/models.py
  backend/apps/bookings/serializers.py
  backend/apps/bookings/tasks.py
  backend/apps/bookings/urls.py
  backend/apps/bookings/views.py
Labels: enhancement, Backend

#84 Added unit tests for the Notification Model
  backend/apps/notifications/tests.py
  backend/requirements.txt
Labels: Backend

#85 2nd PR: basic responsive chatbox UI
  frontend/src/App.jsx
  frontend/src/Components/Chat.jsx
  frontend/src/Components/Services.jsx
  frontend/src/Styles/Chat.css
  frontend/src/Styles/booking.css
  package-lock.json
Labels: Frontend

#78 Submissions Endpoints and Testing
  backend/apps/submissions/managers.py
  backend/apps/submissions/models.py
  backend/apps/submissions/serializers.py
  backend/apps/submissions/tests.py
  backend/apps/submissions/urls.py
  backend/apps/submissions/views.py
  backend/backend/urls.py
Labels: enhancement, Backend

#88 PR 2: (#22) Implementing API Endpoints + CRUD Operations for Lessons
  backend/apps/lessons/migrations/0006_assignment_upload_record.py
  backend/apps/lessons/models.py
  backend/apps/lessons/permissions.py
  backend/apps/lessons/serializers.py
  backend/apps/lessons/urls.py
  backend/apps/lessons/views.py
  backend/backend/urls.py
Labels: enhancement, Backend

#86 PR 3: Filters for search and new ProfilePicture model
  backend/apps/search/models.py
  backend/apps/search/serializers.py
  backend/apps/search/tests.py
  backend/apps/search/views.py
  backend/apps/submissions/tests.py
  backend/apps/uploads/admin.py
  backend/apps/uploads/managers.py
  backend/apps/uploads/migrations/0005_remove_uploadrecord_public_id_and_more.py
  backend/apps/uploads/migrations/0006_remove_profilepicture_profile_uploadrecord_profile.py
  backend/apps/uploads/migrations/0007_alter_uploadrecord_profile.py
  backend/apps/uploads/models.py
  backend/apps/uploads/serializers.py
  backend/apps/uploads/tests.py
  backend/apps/uploads/urls.py
  backend/apps/uploads/views.py
  backend/apps/users/apps.py
  backend/apps/users/managers.py
  backend/apps/users/migrations/0008_tutorprofile_rating.py
  backend/apps/users/migrations/0009_alter_tutorprofile_rating.py
  backend/apps/users/models.py
  backend/apps/users/views.py
  backend/apps/whiteboard/__init__.py
  backend/apps/whiteboard/admin.py
  backend/apps/whiteboard/apps.py
  backend/apps/whiteboard/consumers.py
  backend/apps/whiteboard/managers.py
  backend/apps/whiteboard/migrations/0001_initial.py
  backend/apps/whiteboard/migrations/__init__.py
  backend/apps/whiteboard/models.py
  backend/apps/whiteboard/tests.py
  backend/apps/whiteboard/views.py
  backend/backend/settings.py
Labels: enhancement, Backend
